{% extends 'base.html' %}
{% block content %}
        <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>菜单管理</h3>
              </div>

              <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                              <button class="btn btn-default" type="button">Go!</button>
                          </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>

            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>父菜单添加 <small>导航栏父菜单</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="#">Settings 1</a>
                          </li>
                          <li><a href="#">Settings 2</a>
                          </li>
                        </ul>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">

                    <form class="form-horizontal form-label-left" novalidate method="post">

                      </p>
                      <span class="section">Menu add</span>

                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Menu Name <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input id="name" class="form-control col-md-7 col-xs-12" data-validate-length-range="6" data-validate-words="2" name="menuname" placeholder="菜单名称填写" required="required" type="text">
                        </div>
                      </div>
                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Icon Type</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <select name="icontype" class="select2_group form-control">
                              {% for icontype in icontypes %}
                                  <optgroup label="{{ icontype.name }}">
                                  {% for dict in icontype.value %}
                                      <option value="fa-{{ dict }}"><i class="fa fa-{{ dict }}">{{ dict }}</i></option>
                                  {% endfor %}
                                  </optgroup>
                              {% endfor %}
                          </select>
                        </div>
                      </div>

                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">备注 <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input id="comment" class="form-control col-md-7 col-xs-12" data-validate-length-range="6" data-validate-words="2" name="comment" placeholder="备注填写" required="required" type="text">
                        </div>
                      </div>
                      <div class="ln_solid"></div>
                      <div class="form-group">
                        <div class="col-md-6 col-md-offset-5">
                          <button id="send" type="submit" class="btn btn-success">Submit</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>父菜单修改 <small>导航栏父菜单</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="#">Settings 1</a>
                          </li>
                          <li><a href="#">Settings 2</a>
                          </li>
                        </ul>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">

                    <form class="form-horizontal form-label-left" novalidate method="post">
                      </p>
                      <span class="section">Menu list</span>
                        <table class="table table-bordered" id="smenuid">
                            <thead>
                            <tr>
                                <th>序号</th>
                                <th>名称</th>
                                <th>类型</th>
                                <th>备注</th>
                                <th>编辑</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for menu in fistmenus %}
                                <tr id="tr{{ menu.0 }}">
                                    <th scope="row">{{ forloop.counter }}</th>
                                    <td><input id="namemod{{ menu.0 }}" class="form-control col-md-7 col-xs-12" data-validate-length-range="6" data-validate-words="2" name="namemod{{ menu.0 }}" placeholder="菜单名称填写" required="required" type="text" value="{{ menu.1 }}"></td>
                                    <td>
                                        <select id="icontypemod{{ menu.0 }}" class="select2_single form-control" tabindex="-1" name="icontypemod{{ menu.0 }}">
                                              {% for icontype in icontypes %}
                                                <optgroup label="{{ icontype.name }}">
                                                {% for dict in icontype.value %}
                                                    <option value="fa-{{ dict }}" {% if dict in menu.2 %}selected {% endif %}><i class="fa fa-{{ dict }}">{{ dict }}</i></option>
                                                {% endfor %}
                                                </optgroup>
                                              {% endfor %}
                                        </select>
                                    </td>
                                    <td><input id="commentmod{{ menu.0 }}" class="form-control col-md-7 col-xs-12" data-validate-length-range="6" data-validate-words="2" name="commentmod{{ menu.0 }}" placeholder="备注填写" required="required" type="text" value="{{ menu.3|default_if_none:'' }}"></td>
                                    <td>
                                        <button id="modbtn" type="submit" class="btn btn-warning" onclick="modifyfun('{{ menu.0 }}','{{ menu.1 }}','{{ menu.2 }}','{{ menu.3 }}')">保存修改</button>
                                        <button id="delbtn" type="button" class="btn btn-danger" onclick="delfun('{{ menu.0 }}','tr{{ menu.0 }}')">删除</button>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
<script>
  if("{{ message }}"){
      alert("{{ message }}")
  }
function modifyfun(id,menuname,icontype,comment){
      if (confirm("确定要修改？")) {
          var name = "namemod"+id;
          var namemod = document.getElementById(name).value;
          var name = "icontypemod"+id;
          var icontypemod = document.getElementById(name).value;
          var name = "commentmod"+id;
          var commentmod = document.getElementById(name).value;
          if(menuname==namemod && icontype==icontypemod && comment==commentmod){
              alert("未做任何改动，无需保存");
          }
          else {
              $.ajax({
                  type:"POST",
                  url:"/permission/menuadd/",
                  data:"id="+id+"&menuname="+namemod+"&icontype="+icontypemod+"&comment="+commentmod,
                  success:function(data){
                      alert(data);
                      location.reload();
                  },
                  error:function(data){
                      alert(data);
                  }
              });
          }
      }
  }
function delfun(id,tr){
    if (confirm("确定删除？")) {
        $.ajax({
            type:"POST",
            async:false,
            url:"/permission/menuadd/",
            data:"id="+id,
            success: function(data){
                alert(data);
                if (data=='删除成功！'){
                    var i=document.getElementById(tr).rowIndex;
                    document.getElementById('smenuid').deleteRow(i);
                }
            },
            error: function(data){
                alert(data);
            }
        })
    }
}
</script>
{% endblock %}