{% extends 'base.html' %}
{% block content %}
        <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>项目管理</h3>
              </div>

              <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                              <button class="btn btn-default" type="button">Go!</button>
                          </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>

            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>项目添加 <small>导航栏项目管理</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">

                    <form class="form-horizontal form-label-left" novalidate method="post">

                      </p>
                      <span class="section">Project info</span>

                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Project Name <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input id="projectname" class="form-control col-md-7 col-xs-12" data-validate-length-range="6" data-validate-words="2" name="projectname" placeholder="子项目名称填写(查询只需选择责任人)" required type="text">
                        </div>
                      </div>
                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">责任人</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <select id="staffid" tabindex="-1" name="staffid" class="select2_group form-control">
                              <option value=""></option>
                              {% for staff in staffs %}
                                  <option value="{{ staff.0 }}" {% ifequal staff.0 staffid %}selected{% endifequal %}>{{ staff.1 }}</option>
                              {% endfor %}
                          </select>
                        </div>
                        <a href="/staff/staffs/">责任人管理</a>
                      </div>
                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">备注 <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input id="comment" class="form-control col-md-7 col-xs-12" data-validate-length-range="6" data-validate-words="2" name="comment" placeholder="备注填写" required="required" type="text">
                        </div>
                      </div>
                      <div class="ln_solid"></div>
                      <div class="form-group">
                        <div class="col-md-6 col-md-offset-5">
                          <button name="add" type="button" class="btn btn-primary" onclick="addfun()">添加</button>
                          <button name="search" type="submit" class="btn btn-success">查询</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>项目修改 <small>导航栏项目管理</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">

                    <form class="form-horizontal form-label-left" novalidate method="post">
                      </p>
                      <span class="section">Project list</span>
                        <table class="table table-bordered" id="fprojectid">
                            <thead>
                            <tr>
                                <th>序号</th>
                                <th>项目名称</th>
                                <th>责任人</th>
                                <th>备注</th>
                                <th>编辑</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for project in projects %}
                                <tr id="tr{{ project.0 }}" contentEditable="true">
                                    <th scope="row" contentEditable="false">{{ forloop.counter }}</th>
                                    <td id="projectmod{{ project.0 }}">{{ project.2|default_if_none:'' }}</td>
                                    <td contentEditable="false">
                                        <select id="staffmod{{ project.0 }}" class="select2_single form-control" tabindex="-1" name="staffmod{{ project.0 }}">
                                            <option value=""></option>
                                            {% for staff in staffs %}
                                                <option value="{{ staff.0 }}" {% ifequal  project.1  staff.0 %}selected {% endifequal %}>{{ staff.1 }}</option>
                                            {% endfor %}
                                        </select>
                                    </td>
                                    <td id="commentmod{{ project.0 }}">{{ project.3|default_if_none:'' }}</td>
                                    <td contentEditable="false">
                                        <button id="modbtn" type="button" class="btn btn-warning" onclick="modifyfun('{{ project.0 }}','{{ project.1 }}','{{ project.2 }}','{{ project.3 }}')">保存修改</button>
                                        <button id="delbtn" type="button" class="btn btn-danger" onclick="delfun('{{ project.0 }}','tr{{ project.0 }}')">删除</button>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
<script>
  if("{{ message }}"){
      alert("{{ message }}")
  }
function addfun(){
    var projectname = document.getElementsByName("projectname")[0].value;
    projectname = $.trim(projectname).replace('<br>','');
    var staffid = document.getElementById("staffid").value;
    staffid = $.trim(staffid).replace('<br>','');
    var comment = document.getElementsByName("comment")[0].value;
    comment = $.trim(comment).replace('<br>','');
    if(projectname!=''){
        $.ajax({
            type:"POST",
            url:"/service/projectmodify/",
            data:{'staff':staffid,'name':projectname,'comment':comment},
            success:function(data){
                alert("添加成功");
                location.reload();
            },
            error:function(data){
                alert("添加失败");
            }
        })
    }
    else {
        alert("项目名称不能为空")
    }
}
function modifyfun(id,sid,projectname,comment){
      if (confirm("确定要修改？")) {
          var name = "staffmod"+id;
          var staffmod = document.getElementById(name).value;
          var name = "projectmod"+id;
          var projectmod = document.getElementById(name).innerHTML;
          projectmod = $.trim(projectmod).replace('<br>','');
          var name = "commentmod"+id;
          var commentmod = document.getElementById(name).innerHTML;
          commentmod = $.trim(commentmod).replace('<br>','');
          if(sid==staffmod && projectname==projectmod && comment==commentmod){
              alert("未做任何改动，无需保存");
          }
          else {
              $.ajax({
                  type:"PUT",
{#        改框架前代码          url:"/service/projects/",#}
{#        改框架前代码          data:"id="+id+"&sid="+staffmod+"&projectname="+projectmod+"&comment="+commentmod,#}
{#        增加记录（rest框架）          type:"POST",#}
{#        增加记录（rest框架）          url:"/service/projectmodify/",#}
{#        增加记录（rest框架）          data:{'staff':staffmod,'name':projectmod,'comment':commentmod},#}
                  url:"/service/projectmodify/"+id,
                  data:{'staff':staffmod,'name':projectmod,'comment':commentmod},
                  success:function(data){
                      alert("修改成功");
                      location.reload();
                  },
                  error:function(data){
                      alert("修改失败");
                  }
              })
          }
      }
  }
function delfun(id,tr){
    if (confirm("确定删除？")) {
        $.ajax({
{#            type:"POST",#}
{#            url:"/service/projects/",#}
{#            data:"id="+id,#}
            type:"DELETE",
            url:"/service/projectmodify/"+id,
            data:{'id':id},
            success:function(data){
                alert('删除成功');
                var i=document.getElementById(tr).rowIndex;
                document.getElementById('fprojectid').deleteRow(i);
            },
            error:function(data){
                alert("删除失败")
            }
        })
    }
}
</script>
{% endblock %}